<form name="form2" method="POST" action="/items">
    
    <div class="form-group">

        <label for="itemType">What type of item: </label>
        <select id="itemType" name="itemType" class="form-control mx-sm-3" required>
        <option value="Box">Box</option>
        <option value="Tote">Tote w/lid</option>
        <option value="Large Item/Furniture">Large Item/Furniture</option>
        </select>
        <label for="conName">Name: </label>
        <input id="conName" name="conName" type="text" class="form-control mx-sm-3" required>
        <br>
        <label for="conDesc">Description: </label>
        <input id="conDesc" name="conDesc" type="text" class="form-control mx-sm-3" required>
        <br>
        <label for="conLoc">Location: </label>
        <select id="conLoc" name="conLoc" class="form-control mx-sm-3" required>
            <option value="Storage Unit">Storage Unit</option>
            <option value="Garage">Garage</option>
            <option value="Attic">Attic</option>
            <option value="Basement">Basement</option>
            <option value="Storage Closet">Storage Closet</option>
            <option value="Other">Other-</option>
        </select>
        <br>
    </div>

    <button type="submit" class="btn btn-primary">Add Item</button>
    
    <a href="/items/" ><button onclick="clearButton()" type="button" class="btn btn-primary">Clear Inv</button></a>
            <script>
                function clearButton(){localStorage.clear();}
            </script>
  </form>   