<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %> 
</head>
<body class="container">
<header>
    <%- include('../partials/header'); %> 
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <h1>Biscuit scam</h1>
        <p>Welcome to Sapporo. Have some biscuits :)</p>
        <div class="jumbotron">
            <%- include('../partials/editform', {data}); %>
            
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="well">
            <h3>This be yar sidebar</h3>
            
        </div>
    </div>
</div>


</main>
<footer>
    <%- include('../partials/footer'); %> 
</footer>

</body>

</html>